html, body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}

.header-section {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-position: top center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-section > h1 {
    font-size: 4em;
    margin: 0px auto;
}

.header-section > p {
    width: 60%;
    text-align: center;
    font-size: 1.5em;
}