html, body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
} 

#header-bar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-left: 20px;
}

#header-bar img {
    height:50px;
}

#header-bar > div {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.header-links {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.header-section {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-position: top center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-section > h1 {
    font-size: 4em;
    margin: 0px auto;
}

.header-section > p {
    width: 60%;
    text-align: center;
    font-size: 1.5em;
}

.section-white-box {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-white-box > h2 {
    text-align: center;
    width: auto;
    border-bottom: 3px solid green;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.article-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin: 10px 100px;
}

.article-wrapper > article {
    width: 200px;
    margin: 30px 50px 50px 50px;
    text-align: center;
}

.article-wrapper > article > img {
    height: 80px;
}

h4 {
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.article-wrapper > article > h4 {
    color: green;
}


.section-green-box {
    height: 600px;
    background-color: green;
    margin: 30px;
    padding: 50px 70px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.02em;
}

.section-green-box h2 {
    border-bottom: 3px solid white;
    padding-bottom: 5px;
}


.left-side-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 350px;
}

.article-vertical-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    width: 250px;
    line-height:1.5em;
}

#img-spotify-icon {
    width: 100px;
    margin-right: 40px;
}

#img-spotify-app {
    height: 500px;
}